<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zqf.store">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 允许读取手机相机、相册以及读写SD卡的权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/loge"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartpageActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="@string/login_5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PhoneRegisterActivity"
            android:exported="true"
            android:label="@string/login_6"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="true"
            android:label="@string/login_4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_My.SettingActivity"
            android:exported="true"
            android:label="个人设置"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_My.AddressActivity"
            android:exported="true"
            android:label="收货地址"
            android:screenOrientation="portrait" />
        <activity android:name=".SumActivity"
            android:label="结算"/>
        <activity android:name=".Activity_Home.MarketActivity"
            android:label="便利超市"/>
        <activity android:name=".OrderActivity"
            android:label="订单"/>
        <activity android:name=".Activity_Home.DigitalActivity"
            android:label="数码商城"/>
        <activity android:name=".Activity_Home.LeaseActivity"
            android:label="便捷租赁"/>
        <activity android:name=".Activity_Home.CourierActivity"
            android:label="快递送货"/>
        <activity android:name=".Activity_Home.PrinterActivity"
            android:label="快速打印"/>
        <activity android:name=".Activity_Home.ReuseActivity"
            android:label="跳蚤市场"/>
        <activity android:name=".Activity_Home.Reuse_FormActivity"
            android:label="跳蚤市场"/>
        <activity android:name=".Activity_Home.Brand_FormActivity"
            android:label="潮牌代购"/>
        <activity android:name=".Activity_Home.BrandActivity"
            android:label="潮牌代购"/>
        <activity android:name=".Activity_Home.Brand_DetailActivity"
            android:label="潮牌代购"/>
        <activity android:name=".Activity_Home.Reuse_DetailActivity"
            android:label="跳蚤市场"/>
        <activity android:name=".NewActivity"
            android:label="发现"/>
        <activity android:name=".AboutActivity" />
        <activity android:name=".Activity_My.LikeActivity"
            android:label="我的收藏"/>
        <activity android:name=".Good_detailActivity"></activity>
    </application>

</manifest>